// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

%menu {
    border: 0;
    white-space: normal;
    width: 30.6875em;
    margin: 0;
    padding: 0;
    list-style: none;
}

body:not(.custom-background-image):before, 
body:not(.custom-background-image):after {
    height: 0;
}

.site {
    margin: 0;
}
