// -----------------------------------------------------------------------------
// This file contains all styles related to the navbar component.
// -----------------------------------------------------------------------------

.site-header .social-navigation {
    display: inherit;
    margin-bottom: .5em;

    li {
        a {
            border: none;
            border-radius: 0;
            &:before {
                content: none !important;
            }
        }
    }

    .twitter a, 
    .rss a, 
    .instagram a, 
    .flickr a, 
    .facebook a,
    .vimeo a {
       @extend .icon-social;
    }

    .facebook a {
        @include sprite($social-facebook);
    }

    .facebook a:hover {
        @include sprite($social-facebook_over);
    }

    .flickr a {
        @include sprite($social-flickr);
    }

    .flickr a:hover {
        @include sprite($social-flickr_over);
    }

    .instagram a {
        @include sprite($social-instagram);
    }

    .instagram a:hover {
       @include sprite($social-instagram_over);
    }

    .rss a {
        @include sprite($social-rss);
    }

    .rss a:hover {
        @include sprite($social-rss_over);
    }

    .twitter a {
        @include sprite($social-twitter);
    }

    .twitter a:hover {
        @include sprite($social-rss_over);
    }

    .vimeo a {
        @include sprite($social-vimeo);
    }

    .vimeo a:hover {
        @include sprite($social-vimeo_over);
    }
}

@media screen and (min-width: 56.875em) {

    .site-header .social-navigation {

        .social-links-menu {
            float: right;
            margin-bottom: .5em;
        }

    }

}

@media screen and (max-width: 56.874em) {
    // Hide images on smaller screens
    .menu-image,
    .hovered-image {
       @include visually-hidden;
    }

    // Apply to main nav only
    #site-navigation {
        margin-top: 1em;
    }    
}


@media screen and (min-width: 56.875em) {
    // Hide text on non-mobile screens

    .menu-image-title {
        @include visually-hidden;
    }

    li li {
        .menu-image-title {
            @include show;
        }
    }

    .site-header-menu {
        width: 100%;
    }

    .main-navigation .menu-item-has-children > a::after {
        bottom: 0.6em;
        top: auto;
    }

    // Apply to external links only
    #external-link-navigation {
        text-align: center;

        a {
            padding: .2em;
            display: block;
            width: 100%;
        }

        img {
            display: block;
            max-width: 100%;
            width: 100%;
        }

        .menu-item-has-children a {
            padding-right: 1em;
            top: auto;
            // bottom: 0 !important;
        }

        li li a {
            padding: 0.65625em 0.875em;
            width: 12.6875em;
        }

        .menu-image {
            width: 100%;
        }

        .menu-external-links-container {
            width: 100%;
            text-align: center;

            // First level ul
            &> ul {
                width: 100%;
                display: inline-block;

                // First level li within first level ul
                &> li {
                    min-height: 60px;
                    background-position: top center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    text-align: center;

                    &:not(:last-child):after {
                        content: "";
                        width: 10px;
                        height: 60px;
                        background-image: url(assets/images/nav/divider.png);
                        background-position: top center;
                        top: 0;
                        right: 0;
                        position: absolute;
                        display: inline-block;
                    }

                    img {
                        width: 100%;
                    }

                    // Hide hover image
                    .hovered-image {
                        @include visually-hidden;
                        margin-left: 0 !important;
                    }
                    // On hover/focus over li, show hover image, hide default image                  
                    &:hover,
                    &:focus {
                        .hovered-image {
                            @include show;
                            width: 100%;
                            margin-left: 0 !important;
                        }
                        .menu-image {
                            @include visually-hidden;
                        }
                    }

                }

            }

        }

        .blog {
            width: 15%;
            // max-width: 154px;
            img {
                width: 100%;
                max-width: 149px;
            }
        }
        .farm-hack {
            width: 11%;
            // max-width: 112px;
           img {
                width: 100%;
                max-width: 112px;
            }
        }
        .donate {
            width: 22%;
            // max-width: 222px;
            img {
                max-width: 222px;
            }
        }
        .join-mailing-list {
            width: 22%;
            // max-width: 225px;
            img {
                max-width: 225px;
            }
        }
        .our-land {
            width: 30%;
            // max-width: 300px;
            img {
                max-width: 300px;
            }
        }


    }




}
