// -----------------------------------------------------------------------------
// This file contains all styles related to the image component.
// -----------------------------------------------------------------------------


@media screen and (max-width: 56.874em) {
    // Hide images on smaller screens
    .menu-image,
    .hovered-mage {
       @include visually-hidden;
    }

    // Apply to main nav only
    #site-navigation {
        margin-top: 1em;
    }    
}

@media screen and (min-width: 56.875em) {
    // Hide text on non-mobile screens

    .menu-image-title {
        @include visually-hidden;
    }

    li li {
        .menu-image-title {
            @include show;
        }
    }

    .site-header-menu {
        width: 100%;
    }

    // Apply to external links only
    #external-link-navigation {

        a {
            padding: .2em;
            display: block;
            width: 100%;
        }

        img {
            display: block;
            max-width: 100%;
            width: 100%;
        }

        .menu-item-has-children a {
            padding-right: 1em;
        }

        li li a {
            padding: 0.65625em 0.875em;
        }


    }




}
